.name_cell{
    position: sticky;
    white-space: nowrap;
    left: 0px;
    min-width: 120px;
    z-index: 100;
    background-color: aliceblue;
}

.round_cell{
    position: relative;
    white-space: nowrap;
    min-width: 60px;
    z-index: 90;
    background-color: aliceblue;
}

.points_cell{
    position: sticky;
    white-space: nowrap;
    right: 50px;
    z-index: 100;
    background-color: aliceblue;
}

.delete_cell{
    position: sticky;
    white-space: nowrap;
    right: 0px;
    z-index: 99;
    background-color: aliceblue;
}

.round_name_cell{
    z-index: 1000;
}